input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#search-bar {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 42vw;
  display: block;
  text-align: center;
  height: 45px;
}

#search-poke {
  margin-left: 44vw;
  width: 233px;
  height: 45px;
  display: block;
}

#header {
  margin-top: 30px;
}