<header>
    <div class="banner">
        <img class="logo" src="../../../assets/logo.png" alt="">
        <button class="navbar-button" routerLinkActive="active" routerLink="home/inventory" id='inventory'>My inventory</button>
        <button class="navbar-button" routerLinkActive="active" routerLink="home/opentrades" id ='all-open'>All Open Trades</button>
        <button class="navbar-button" routerLinkActive="active" routerLink="home/pendingtrades" id='my-pending'>My Pending Trades</button>
        <button class="navbar-button" routerLinkActive="active" routerLink="home/myopentrades" id='my-open'>My Open Trades</button>
        <button class="navbar-button" routerLinkActive="active" routerLink="home/pasttrades" id ='my-past'>My Past Trades</button>
    </div>
    <div>
        
    </div>
</header>