<header>
    <div class="banner">
        <img class="logo" src="../../../assets/logo.png" alt="" (click)="goHome()">
        <button (click)="go('inventory')" class="navbar-button" id='inventory'>My
            inventory</button>
        <button (click)="go('opentrades')" class="navbar-button" id='all-open'>All Open
            Trades</button>
        <button (click)="go('pendingtrades')" class="navbar-button" id='my-pending'>My
            Pending Trades</button>
        <button (click)="go('myopentrades')" class="navbar-button" id='my-open'>My Open
            Trades</button>
        <button (click)="go('pasttrades')" class="navbar-button" id='my-past'>My Past
            Trades</button>
    </div>
    <div>

    </div>
</header>