<app-poke-banner></app-poke-banner>
<div id="notshown2" style="text-align: center;" *ngIf="1>offerArray.length">
    <h2>No </h2>
</div>

<div style="text-align: center;">

    <h2 style="text-align: center;" id="Title">Past Trading Records</h2>
    <div style="text-align: center;">

    <table class="table table-dark" id="table">
        <thead id="t-head">
            <tr>
                <th scope="col" id='head1'>Offer ID</th>
                <th scope="col" id='head1'>Offered Pokemon</th>
                <th scope="col" id='head1'>Trade Made With(User ID)</th>
                <th scope="col" id='head1'>Traded Pokemon</th>

            </tr>
        </thead>

        <tbody *ngFor="let offer of offerArray" id="body">
            <th scope="row">{{offer.id}}</th>
            
            <td>{{offer.pokemon}}</td>
            <td>{{offer.second}}</td>
            <td>{{offer.offeredPoke}}</td>
        </tbody>
    </table>
</div>