

<body>
    

<div class="form">

<div class="login-logo">
    <img class="logo" src="../../../assets/logo.png" alt="">
    <p>A place where you can trade Pokémon with others.</p>
</div>

<input type="text" placeholder="Username" [(ngModel)]="usern">
<input type="password" name="" id="" placeholder="Password" [(ngModel)]="userp">
<button type="submit" class="submit" (click)="submit()" >Log In</button>
<a href="#" class="forget">Forget Password</a>
<div class="line">

</div>
<br>
<button class="new" routerLinkActive="active" routerLink="signup">Create an Account</button>
</div>






</body>