<app-poke-banner></app-poke-banner>
<div id="notshown2" style="text-align: center;" *ngIf="1>offerArray.length">
    <h2>No </h2>
</div>

<div style="text-align: center;">
    <h2 style="text-align: center;" id="Title">Open Trade Records</h2>
    <div style="text-align: center;">
    <table class="table table-dark" id="table">
        <thead id="t-head">
            <tr>
                <th scope="col" id='head1'>Offer ID</th>
                <th scope="col" id='head1'>Offer Owner</th>
                <th scope="col" id='head1'>Offered Pokemon</th>


            </tr>
        </thead>

        <tbody *ngFor="let offer of offerArray" id="body">
            <th scope="row">{{offer.id}}</th>
            <td>{{offer.user}}</td>
            <td>{{offer.pokemon}}</td>

        </tbody>
    </table>
    <button (click)="deleteOffer()" id="make-offer" [hidden]="buttonHidden">Delete an offer</button>
    <div [hidden]="formHidden">
        <h5 id="username-label">Enter Offer ID:</h5>
        <input type="text" id="offerId" placeholder="Offer ID" [(ngModel)]="offerId">
        <br>

        <p id="radio_para">Delete The offer?</p>

        <input type="radio" id="approved" name="status" value="1" [checked]="decision === 1" (change)="onChange(1)">
        <label for="approved" id="approved_l">Yes</label><br>

        <input type="radio" id="denied" name="status" value="2" [checked]="decision === 2" (change)="onChange(2)">
        <label for="denied" id="denied_l">No</label><br>

        <button (click)="submit()" id="submit"> Submit </button>
    </div>
</div>